.panelScroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 150px;
    border: 2px solid blue;
  }
  .panelScroll::-webkit-scrollbar {
    width: 15px;
  }
  
  .panelScroll::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 50px;
  }
  
  .panelScroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-image: linear-gradient(180deg, #9aebff 0%, #53a4ff 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border: 1px solid #16358a;
    cursor: pointer;
  }

  