@media (min-width: 576px)  { 
   .formcss {
    width:"100%"
    };
    .logo{
      width:"25%";
      height:"25%"
    }
    .form-control {
        width:"100%"
    }
   
}
@media (min-width: 768px) { 
    .formcss {
        width:"100%"
        }
        .logo{
            width:"25%";
            height:"25%"
          }
          .form-control {
              width:"100%"
          }
 }

