.spy :hover {
  border-bottom: 2px solid black;
  border-color: rgb(0, 4, 250);
}

.spy a.active {
  border-bottom: 2px solid black;
  border-color: rgb(0, 4, 250);
}

.spy a {
  /* border-top:solid rgb(167, 167, 170); */
  text-decoration: none;
}


/* ///////////////////   TABLE  //////////////////////////////////// */

.table {
  /* background-color: #413e46; */
  background-color: "rgb(54 49 64 / 42%)";
}

/* style={{ backgroundColor: "rgb(54 49 64 / 42%)" }} */

.head {
  color: white;
}

.line {
  color: #bfbebb;
}

.thead {
  /* background-color: #1c1921; */
  background-color: #413e46;
}